/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  /*font: 13px/18px 'PT Sans', sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
  background-repeat: repeat-x;
  /*background-color: #A9A3A1; */
  background-position: 0px 110px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1em;
  letter-spacing: 0px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

a:link {
  text-decoration: none;
  color: #00456a;
}

a:visited {
  color: #00456a;
}

a:hover {
	color: #004466;
}

#zone-branding,
#zone-content,
#zone-header,
#zone-menu {
  background: white;
  padding: 0px 15px;
}

#zone-footer {
  background:  #4d4d4d;
  padding: 0px 15px;
}


/* Header */
#zone-branding-wrapper,
#zone-branding {
	height: 95px;
}

#region-branding {
	display: inline-block;
	float: left;
}

#region-user-first {
	display: inline-block;
	float: right;
}

#region-user-second {
	float: right;
}

/* Footer */


#zone-footer,
#zone-footer a,
#zone-footer p {
	color: white;
	font-weight: bold;
	padding-bottom: 12px;
}



#zone-footer .footer-menu li {
    border-right: 1px solid #fff;
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    padding-right: 10px;
}

#zone-footer .copyright {
    float: left;
}
#zone-footer .footer-menu{
    float: right;
}

#region-footer-first {
	padding: 30px 10px;
}

#region-footer-first ul {
	list-style: none;
}

#region-footer-first p {
	margin-bottom: 5px;
}


/* Logo config */
.logo-img {
  display: inline-block;
  width: 25%;
}


.logo-img img{
  height: auto;
  padding-top: 10px;
  width: 100%;
  padding-left: 5%;
}

.site-name-slogan {
  display: inline-block;
}

.site-slogan {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  /*font-style: italic;*/
  text-align: center;
}

/* Social block */
#block-block-15 {
	float: right;
	padding-top: 10px;
}

/* Search button etc */
input[type="submit"] {
  background: none repeat scroll 0 0 #004466;

  border: 0 solid #aaaeb1;
  border-radius: 3px;
  color: white;
  font-weight: normal;
  text-shadow: none;
}

.form-actions input:hover {
  background: none repeat scroll 0 0 #007099;
}

.block-search .block-title{
	display: none;
}

.block-search  {
/* 	padding-top: 25px; */
	float: right;
}

.block-search #search-block-form {
  margin-bottom: 1em;

}

.block-search #search-block-form--2 {
  margin-bottom: 1em;
}


/* user welcome and login menu */
#block-scfmembers-scfmembers-user-top-menu {
	width: 600px;
	float: right;
	padding-top: 0px;
}

#block-scfmembers-scfmembers-user-top-menu .item-list{
	float: right;
	padding: 5px 0px;
}

#block-scfmembers-scfmembers-user-top-menu .item-list ul{
	margin: 0;
}

#block-scfmembers-scfmembers-user-top-menu h2.block-title {
	display: none;
}

#scfmembers_user_menu li{
	display: inline;
	color: #992233;
	font-family: font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
 	border-right: 1px solid #CCCCCC;
 	padding: 2px 10px;
 	margin: 0;
}

#scfmembers_user_menu li.last{
	border: none;
}

.breadcrumb {
  	padding-top: 0.5em;
  	padding-bottom: 0.7em;
}


/** Menu **/
nav {
	display: none;
}

#region-menu {
	height: 30px;
}

/* for nice-menu down bg color */
#region-menu ul li ul {
	background-color:  #AACCDD;
}

#region-menu.grid-12 {
	margin-left: 10px;
	margin-right: 10px;
}

.block-nice-menus {
  line-height: 17px;
  /*background-color: #004466;*/
}

.region-menu-inner {
  padding-left: 0;
}

#region-menu ul ul {
	background: none;
	margin-top: 7px;
}

ul.nice-menu,
ul.nice-menu ul {
  z-index: 10 !important;
}

ul.nice-menu li.menuparent ul {
  overflow: visible !important;
}


ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover  {
  	background: none;
}

ul.nice-menu-down li ul li ul {
  	left: 201px;
}

ul.nice-menu-down ul li.menuparent > a:after {
  	 /*content: '>';*/
  	content: url('../images/arrow_menu.png');
  	color: white;
  	padding-right: 0px;
  	margin-right: 0px;
  	float: right;
}

#region-menu ul.nice-menu ul li,
#region-menu ul.nice-menu ul li.first {
	border: 0;
	padding: 14px 26px 12px 26px;
	border-bottom: 1px solid white;
}

#region-menu ul.nice-menu ul li.last {
	border: 0;
	padding: 12px 26px;
	border-bottom: 0;
}

#region-menu ul.nice-menu li {
  border: none;
}

#region-menu ul.nice-menu li {
  	background: none;
  	border-top: 0;
  	border-bottom: 0;
  	border-left: 0;
  	margin-top: 1px;
  	margin-bottom: 1px;
  	padding: 8px 12px;
}

#region-menu ul.nice-menu li.last {
	border-right: none;
}

#region-menu ul.nice-menu a {
  	color: #004466;
  	font-size: 12px;
  	font-family: Helvetica, Arial, sans-serif;
  	font-weight: bold;
  	padding: 0px;
  	text-transform: uppercase;
  	letter-spacing: 0.05em;
}

#region-menu ul.nice-menu li.active,
#region-menu ul.nice-menu li.active-trail{
  	background-color: #AACCDD;
}

#region-menu ul.nice-menu li:hover{
  	/*background-color: #AACCDD; light blue*/
  	background-color: #AACCDD;

}

#region-menu ul.nice-menu li li.active-trail,
#region-menu ul.nice-menu li li:hover {
  	margin-top: -1px;
}

#block-nice-menus-2 {
  margin-top: 3%;
  padding-bottom: 20px;
  z-index: 0 !important;
}

#nice-menu-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004466;
    margin-bottom: 10px;
}

#nice-menu-2 li {
    float: left;
    background-color: #004466;
}

#nice-menu-2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
}

/* Change the link color to #111 (black) on hover */
#nice-menu-2 li a:hover {
    background-color: #111;
}




/* Slider */
.front .block-nivo-slider .theme-dark.slider-wrapper {
	padding: 0;
}

.front .block-nivo-slider {
	margin-top: 1px;
}

.front .nivo-caption {
  width: 20%;
  height: 25%;
  font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  font-size: 15px;
  opacity: 0.8;
  padding: 5px 5px 5px 5px;
  background-color: black	;
}

.nivo-caption h2 {
  color: #ddd7d7;
  font-size: 15px;
  line-height: 1.5em;
}

.nivo-caption p {
  color: #ddd7d7;
  padding-bottom: 5px;
  line-height: 1.5em;
}

.nivo-caption a {
  color: #f6ca53 !important;
  border: none !important;
  font-size: 15px;
  line-height: 15px;
  font-family: 'PT Sans', sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
}

.front .nivo-controlNav {
	position: absolute;
	left: 600px;
	top: 175px;
}



/* Front page content */
.front #page-title,
.front #first-time {
	display: none;
}

.front #zone-content .block .content {
	padding-top: 5px;
}

.front #region-sidebar-first.grid-3 {
	width: 34%;
	padding-right: 2%;
	margin-top: 10px;
}

.front #region-content {
	padding-right: 0%;
	margin-top: 10px;
	width: 68%;
}

.front #region-content p {
  margin-bottom: 5px;
}

#block-views-datasets-block {
/*  padding-top: 12px; */
}

/* Block Titles */
.front .region-content h2.block-title,
.front .region-sidebar-first h2.block-title {
	font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
	letter-spacing: 0.05em;
	color: #004466;
	font-size: 11px;
	padding-top: 9px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

/* Titles within Blocks*/
.front .view h2.node-title,
.front .views-field-title,
.front .block-field-title,
.front th {
	font-size: 13px;
	color: black;
	font-weight: bold;
}

.front .view-latest-articles .block-field-title {
	/*margin-bottom: 15px; */
	padding-bottom: 5%;
}

/* FP Datasets block table */
.front .view-datasets .views-table .views-field-field-group {
	width: 12%;
}

.front .view-datasets .views-table .views-field-title {
	width: 24%;
}

.front .view-datasets .views-table .views-field-field-data-type {
	width: 15%;
}

/* Rows within Blocks */
.front .view-latest-articles .views-row,
.front .block-block-25 .block-field-row,
.front .block-paper-alert-block-3 .views-row {
	margin-bottom: 15px;
}

.front .block-views-meetings-block .views-row {
	margin-bottom: 20px;
}

.front .views-field-description p {
	margin-bottom: 5px;
}
.front .views-field-description .abstract {
	display: none;
}

.view-latest-news .more-link,
.block-forums-block-4 .more-link,
.block-block-25 .more-link,
.block-paper-alert-block-3 .more-link,
.block-views-meetings-block  .more-link {
	float: left;
	margin-top: 2px;
}

.front .more-link a:after {
    content: "» ";
    padding-left: 4px;
    padding-right: 10px;
}

.front .more-link a {
    color: #34282C;
    font-weight: bold;
    font-size: 11px;
}
.front .view footer {
	display: none;
}

.front .view .field-item img {
	float: left;
}

.front .field-content img {
	float: left;
	padding-right: 10px;
}

.front .views-field-created {
    bottom: 0;
    color: #a7a7a7;
    display: block;
    left: 0;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 25px;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
}

.views-field-created span{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
    margin: 0;
    padding: 0;
}
.views-field-created .display-month,
.views-field-created .display-year {
    font-size: 10px;
    line-height: 11px;
}
.views-field-created .display-day {
    font-size: 20px;
    line-height: 16px;
}

.front .views-field-body {
	padding-left: 35px;
}
.front .views-field-field-category ,
.front .views-field-field-forum-category{
    color: #333;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 35px;
}

.front .views-row {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* Front Page Side bar second */
.front .region-sidebar-second {
	background: #F1F5FA;
	padding-top: 20px;
	margin-top: -10px;
	width: 28% !important;
	float: right !important;
}

.front .region-sidebar-second {
	top: 0px;
}

.region-sidebar-second h2 {
	font-size: 13px;
	color: #004466;

	text-transform: uppercase;
}

.region-sidebar-second .block {
	padding-bottom: 20px;
}

.front .region-sidebar-second img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.region-sidebar-second p {
	font-weight: bold;
	padding-bottom: 20px;
}

.region-sidebar-second .block .content {
	padding-left: 20px;
	padding-right: 10px;
}

table#logo-table {
  border: none;
}

#logo-table td{
  height: 15%;
}


/* Interior Page Styling */
.secondary-menu {
	display: none;
}

/* Add colors for each section type */

.not-front .zone-content {
	border-top: 4px solid #A9A3A1;
}

.node-type-discussion .zone-content,
.context-forums .zone-content {
	border-top: 4px solid #004466;

}
.node-type-discussion .field-name-body {
	padding-top: 20px;
}
.context-forums h1.title {
	display: none;
}

.not-front #region-sidebar-first {
	margin-left: 10px;
    margin-right: 0px;
    width: 20%;
}

.not-front #region-content {
	margin-left: 10px;
    margin-right: 0px;
}

.not-front h1 {
  font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  font-weight: bold;
  font-size: 18px;
  letter-spacing: .01em;
}

.not-front h2 {
  font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  font-weight: bold;
  font-size: 13px;
  letter-spacing: .01em;
}

.not-front h3 {
  font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
  font-weight: bold;
  font-size: 11px;
  letter-spacing: .01em;
}

.not-front table {
	border: none;
}

.not-front .region-content img {
	padding-right: 20px;
}



/* Forums Page styling */

.context-forums label {
	display: none;
}

.context-forums .views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0;
}

.context-forums .views-exposed-form .views-exposed-widget.views-widget-filter-tid{
	padding: 0;
}

.context-forums .field-name-body {
	width: 100%;
	padding-top: 10px;
}

.context-forums .field-name-field-forum-category {
	text-transform: uppercase;
	font-size: 10px;
	color: #B096DA	;
	font-weight: bold;
	padding-left: 105px;
	padding-top: 10px;

}
.context-forums  #region-content {
	width: 52%;
}

/* News Page styling */
.page-node .node-article .field-type-image img {
	float: left;
}

.node-article .field-name-field-subtitle {
	font-style: italic;
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 15px;
}

.node-type-article .node-article h3 {
	margin-bottom: 20px;
}

tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: none;
}

.not-front h2.node-title {
	color: #4D317A;
	font-size: 16px;
	font-weight: bold;
}

.block-views-manuscript-block h2 {
	margin: 20px 0 10px;
}

.pager {
	background: none;
	border: none;
}

.pager li {
	border: none;
	background: none;
}

.pager li.pager-current {
    background: none;
    color:  #4D317A;
    outline: 0 none;
}
.pager li.pager-next {
    border: none;
}
.pager li a {
    background: none;
    cursor: pointer;
}
.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    padding: 4px 0;
    text-align: center;
    width: 60px;
}

/* Styling biblio items */
.front .biblio-editors-pick,
.view-editor-s-pick .biblio-editors-pick {
	display: none;
}
.view-editor-s-pick .biblio-extra,
.view-papers .biblio-extra  {
  padding-bottom: 20px;
}

.view-papers .biblio-editors-pick {
	color: #BFD000;
	font-weight: bold;
}


/* Registration page */
.page-user-register .tabs ul,
.page-user-register .fieldset-legend{
	display: none;
}

.page-user-register #user-register-form .form-actions {
	margin-left: 180px;
}

form#user-register-form label {
    color: #727272;
    float: left;
    font-size: 11px;
    padding-right: 16px;
    padding-top: 1px;
    text-align: right;
    text-transform: uppercase;
    width: 160px;
}

form#user-register-form .description {
    clear: both;
    margin-left: 180px;
    width: 360px;
}

form#user-register-form .form-text,
form#user-register-form .form-textarea {
    border: 1px solid #727272;
    color: #000;
    width: 360px;
}

form#user-register-form .grippie {
    display: none;
}

form#user-register-form select {
    border: 1px solid #727272;
    color: #000;
    width: 360px;
}


/* Hide Biblio settings in account profile form */
form#user-profile-form #edit-biblio-fieldset,
form#user-profile-form .form-item-name {
	display: none;
}



/* Members Directory Theming */



.view-members2 .view-content {
  width: 95%;

  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
  -moz-column-gap: 50px; /* Firefox */
  column-gap: 50px;

  -webkit-column-rule: 1px outset #8899AA; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px outset #3D474C; /* Firefox */
  column-rule: 1px outset #8899AA;

  padding-top: 2%;
  padding-bottom: 5%;
}

/* Organization */
.view-members2 .item-list h3 {
  font-weight: bold;
	font-size: 15px;
	color: #004466;
}

.view-members2 .member-names {
  padding-bottom: 15%;
}

.view-members2 .item-list ul {
  margin: 0;
}

.view-members2 .item-list ul li {
  margin: 0;
}

.view-members2 li.views-row {
  padding-top: 5px;
}


/* Name */
.view-members2 .views-field-realname {
	font-weight: bold;
	font-size: 13px;
}

.view-members2 .views-field-mail {
  font-weight: normal;
	font-size: 13px;
	font-style: italic;
}


/* Side bar second */
.page-investigators .region-sidebar-second {
	background: #F1F5FA;
	margin-top: 4%;
	padding-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	width: 20% !important;
	float: right !important;
}





/* Member Page  */
.page-user ul.tabs,
.page-user .profile h3 {
	display: none;
}

.page-user-edit ul.tabs {
	display: block;
}
.page-user .profile .field-name-field-xfp-photo {
	float: left;
}

.page-user .profile .field-name-field-xfp-member-type,
.page-user .profile .field-name-field-xfp-lab-url,
.page-user .profile .field-name-field-xfp-orcid,
.page-user .profile .field-name-field-xfp-aoi,
.page-user .profile .field-name-field-xfp-affiliation,
.page-user .profile .field-name-field-xfp-bio,
.page-user .profile .field-name-field-xfp-position
{
  float: right;
  width: 85%;
  padding-bottom: 4px;
}

.page-user .field-name-field-xfp-member-type {
	font-weight: bold;

}

.page-user .profile .field-name-realname {
  display: none;
}

.page-user .block-member-commented-on-block-1 h2 {
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
	font-size: 12px;
	color: #4D317A;

}

.page-user .block-member-commented-on-block-1  {
	border: 1px solid #4D317A;
	float: right;
    width: 85%;
    margin-bottom: 40px;
}

.page-user .block-member-commented-on-block-1  .content {
	padding: 20px;
}

.page-user .block-member-commented-on-block-1  h2 {
	background-color:#004466;

	padding: 10px 20px;
}

.page-user .views-field-title {
	font-weight: bold;
	padding-top: 5px;
}


/* Member and Blog section sidebars */
.page-user .region-sidebar-second,
.page-members .region-sidebar-second,
.context-forums .region-sidebar-second {
    background: none repeat scroll 0 0 #fff;
    padding-top: 10px;
}

.context-forums .region-sidebar-second .block .content {
	padding-left: 0;
	padding-right: 0;
}

.page-user .region-sidebar-second h2,
.page-members .region-sidebar-second h2,
.context-forums .region-sidebar-second h2 {
	background-color:#004466;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
	font-size: 14px;
	padding: 10px 20px;
}

.context-forums .region-sidebar-second h2 {
	text-align: center;
}

#block-quicktabs-member-comments,
#block-quicktabs-popular-forums  {
	background-color: #004466;

}

#quicktabs-member_comments .item-list ul.quicktabs-tabs,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs {
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	background-color: #d9d9d9;
	padding: 10px 10px;

}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li {
	margin: 0;
	padding: 13px 8px;
}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li.active,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li.active {
	background-color: #004466;

}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li.active.first,
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li.active.first {
	margin-left: -10px;
	padding-right: 15px;
}

#quicktabs-member_comments .item-list ul.quicktabs-tabs li.active.last {
	padding-right: 18px;
}
#block-quicktabs-popular-forums .item-list ul.quicktabs-tabs li.active.last{
	/*padding-right: 31px;*/
	padding-right: 78px;
}


#quicktabs-member_comments #quicktabs-container-member_comments,
#block-quicktabs-popular-forums .view-content {
	margin-top: 10px;
}

#quicktabs-member_comments .view-content li {
	margin: 0;
	padding-left: 10px;
}

#block-quicktabs-popular-forums .view-content li {
	padding: 5px 5px 5px 15px;
	margin: 0;
}

#block-quicktabs-popular-forums {
	padding-bottom: 0;
}

#quicktabs-member_comments .view-content .views-field-timestamp,
#quicktabs-member_comments .view-content  .views-field-entity-id,
#block-quicktabs-popular-forums .view-content .views-field-timestamp{
	float: right;
  padding-right: 10px;
}

#quicktabs-member_comments #quicktabs-container-member_comments .view-content .views-field-name a,
#block-quicktabs-popular-forums .view-content .views-field-title a,
#block-quicktabs-popular-forums .view-content .views-field-name a{
	color: #00456a;
	font-weight: bold;
}


#block-custom-search-blocks-1 input.custom-search-box,
#block-custom-search-blocks-2 input.custom-search-box  {
	width: 145px;
	margin: 20px 0 10px 15px;
}

#block-custom-search-blocks-1 .form-item-custom-search-blocks-form-1,
#block-custom-search-blocks-2 .form-item-custom-search-blocks-form-2 {
	width: 75%;
	display: inline;
}

#block-custom-search-blocks-1 .form-actions,
#block-custom-search-blocks-2 .form-actions  {
	display: inline;
	float: right;
	margin: 20px 15px 10px 0;
}

.block-custom-search-blocks-1 .content,
.block-custom-search-blocks-2 .content  {
	background-color: #004466;

}

/* Discussion/Blog/Paper Alert and Latest News Theming */
.authors {
	font-weight: bold;
	padding-bottom: 10px;
}
a.suggest-topic {
    display: inline-block;
    background-color: #4D317A;
    background-image: url("../images/ico-plus.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border: none;
    color: #FFFFFF;
    font-size: 10px;
    padding: 5px 10px 5px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

.view-forums .views-exposed-form,
.view-paper-alert .views-exposed-form,
.view-latest-news .views-exposed-form {
  float: right;
  height: 0;
  position: relative;
  top: -35px;
  padding: 0;
}

/* Want spacing to be the same between authors and field paper link- these next 2 items */
.node-type-paper-alerts .forums-teaser-content .field-name-field-authors {
	padding: 3px 0;
	font-style: italic;
}

.node-paper-alerts .field-name-field-paper-link {
	padding-top: 3px;
	padding-bottom: 6px;
}


.view-forums #edit-submit-scf-forums {
    background:#000000;
    border: medium none;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 400;
    padding: 3px 6px;
    text-transform: uppercase;
}

.not-front .region-content .view-forums .views-row,
.not-front .region-content .view-paper-alert .views-row,
.not-front .region-content .view-latest-news .views-row,
.not-front .region-content .view-letters-to-the-editor .views-row,
.not-front .region-content .view-clinical-trials .views-row {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 2px solid #A41034	;
}

.views-field-comment-count,
.views-field-count {
    font-size: 8px;
    font-weight: bold;
    margin: 0;
}

.view-latest-news h2.node-title a {
  color: #4D317A;
  text-decoration: none;
  font-weight: bold;
}

.discussion-image-wrapper,
.view-latest-news .field-type-image {
  width: auto;
  overflow: hidden;
  float: left;
}

.view-forums .last-comment-by,
.view-latest-news .last-comment-by {
    margin-left: 105px;
}

.view-forums .field-name-body p,
.view-latest-news .field-name-body p{
	margin-bottom: 0;
}

#block-poll-recent {
  background-color: #004466;

}

#block-poll-recent .poll {
  margin: 10px 12px;
}

#block-poll-recent .poll .title {
  margin-bottom: 10px;
}

#block-poll-recent ul.links {
  display: none;
}



/* Fix margins and padding around icons */

.link-wrapper ul.inline  li {
	padding: 0;
	margin: 0;
	border-right: 1px solid #727272;
	text-transform: uppercase;
	font-size: 10px;
	color: black;
	font-weight: bold;
}

.link-wrapper ul.inline  li a {
	color: black;
	font-weight: bold;
}
.link-wrapper {
	margin-bottom: 5px;
}

.link-wrapper ul.inline li.comment-add {
	padding-left: 0px;
	padding-right: 10px;
}
.link-wrapper  ul.inline li .comment-comments {
	padding-left: 5px;
	padding-right: 10px;
}

.link-wrapper .flag-bookmarks {
	padding-left: 10px;
	padding-right: 5px;
}

.link-wrapper .flag-follow-node {
	padding-left: 10px;
	padding-right: 9px;
}

.link-wrapper .flag-recommend {
	padding-left: 10px;
	padding-right: 4px;
}

.link-wrapper  ul.inline li .recommend-members{
	padding-left: 0px;
	padding-right: 10px;
}

.link-wrapper  ul.inline li.last {
	border-right: none;
}
/* Add borders around print, email icons */
.share-links ul.inline li {
    border-right: 1px solid #cccccc;
}

.share-links {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 10px 0;
}

.lrshare_interfacehorizontal {
    padding: 0 !important;
    float: right;
}


.page-node.node-type-discussion .submitted {
	padding-bottom: 10px;
}

.page-node.node-type-discussion .field-name-field-references {
	padding-bottom: 20px;
}



/* Comments */
.field-name-comment-body .filter-wrapper {
	display: none;
}

#comments .comment-form {
   background-color: #004466;

   margin: 0;
}

#comments h2.title {
	font-family: Helvetica, Arial, sans-serif;
  /*font-family: Helvetica, Arial, Verdana, sans-serif; */
	color: white;
	font-weight: bold;
	background-color: #4D317A;
	font-size: 14px;
	padding: 15px;
}

.node-type-discussion #comments h2.title {
	background-color: #004466;

}
article.comment {
	padding: 15px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
}

h2.comment-form {
	padding: 15px 15px 0 15px;
}

form.comment-form {
	padding: 15px;
}


/* Sidebar First Theming Menu Block */
.page-contact #region-sidebar-first {
  display: none;
}

.page-contact .container-12 .grid-6{
  width: 700px;
}




/* Tabs: Targets, Datasets, Analysis & Claims */
.node-dataset .horizontal-tabs ul.horizontal-tabs-list,
.node-targets .horizontal-tabs ul.horizontal-tabs-list {
  background-color: #FFFFFF;
  border: 0;
  padding: 0;
  margin: 0;
}

.node-dataset .horizontal-tabs ul.horizontal-tabs-list li,
.node-targets .horizontal-tabs ul.horizontal-tabs-list li {
  background-color: #66AACC;
  margin-right: 5px;
  padding: 1px 140px 1px 5px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.node-dataset .horizontal-tabs ul.horizontal-tabs-list li.selected,
.node-targets .horizontal-tabs ul.horizontal-tabs-list li.selected {
  background-color: #004466;

}

/*This doesn't work!*/
.node-dataset .horizontal-tabs ul.horizontal-tabs-list li.hover,
.node-targets .horizontal-tabs ul.horizontal-tabs-list li.hover {
  background-color: #2B2B2B;
}

.horizontal-tabs ul.horizontal-tabs-list li:hover,
.horizontal-tabs ul.horizontal-tabs-list li:focus {
  background-color: #33667F;
}

.horizontal-tabs ul.horizontal-tabs-list li.last {
  margin-right: 0;
  padding-right: 141px;
}

.node-dataset .horizontal-tabs ul.horizontal-tabs-list li a,
.node-dataset .horizontal-tabs ul.horizontal-tabs-list li.selected strong,
.node-targets .horizontal-tabs ul.horizontal-tabs-list li a,
.node-targets .horizontal-tabs ul.horizontal-tabs-list li.selected strong {
  color: #FFFFFF;
}

div.horizontal-tabs {
  border: none;
}

div.horizontal-tabs .horizontal-tabs-panes {
	border: 1px solid #ccc;
	margin-top: -5px;
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0px;
}

.node-targets .group-datasets-tab h2.node-title {
	font-size: 14px;
	margin-bottom: 0px;
}

.node-targets .group-datasets-tab .field-name-field-dataset-links .field-item,
.node-targets .group-literature-tab .field-name-field-literature-links .field-item,
.node-targets .group-nomination-tab .fieldset-wrapper,
.node-targets .group-evidence-tab .fieldset-wrapper {
	padding: 10px;
}

.node-dataset .fieldset-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

.node-targets .group-evidence-tab .field-collection-view {
	padding: 0;
	margin: 0;
}

.node-analysis .field-collection-view .field-label,
.node-targets .field-collection-view .field-label,
.node-targets .field-collection-view .field-items {
	width: auto;
}

.node-targets .group-datasets-tab .field-label {
	width: 10%;
	float: left;
}

.node-targets .group-datasets-tab .field-collection-view .field-items {
	width: 90%;
	float: right;
}

.node-targets .group-evidence-tab .node-claim .node-title {
  padding-top: 3%;
}

.node-targets .group-evidence-tab .node-claim .field-name-field-evidence-support h2.node-title {
  padding-top: 2%;
  font-size: 13px;
  margin-bottom: 5px;
}

.node-targets .group-evidence-tab .field-name-field-literature-links .field-item {
  padding-top: 1%;
}



.node-targets .group-evidence-tab .node-claim .field-items {
  width: 98%;
	float: right;
}

.node-targets .group-evidence-tab .field-name-field-evidence-support .field-name-field-result-data .field-label,
.node-targets .group-evidence-tab .field-name-field-evidence-support .field-name-field-result-data .field-items {
  float: unset;
  width: auto;
}


.node-targets .group-evidence-tab .field-name-field-result-data {
  float: unset;
  width: 100%;
  display: inline-block;
}

/*.node-targets .group-evidence-tab .field-label {
	width: 10%;
	float: left;
}

.node-targets .group-evidence-tab .field-collection-view .field-items
*/


.node-targets .group-datasets-tab .field-name-field-dataset-links .field-item .field .field-item{
	padding: 0px;
}

.node-targets .group-evidence-tab .field-collection-view .field-label {
	display: inline-block;
}

.node-dataset .group-analysis-tab h2.node-title {
	color: #4D317A;
	font-size: 13px;
	font-weight: bold;
	padding-top: 5px;
}

.node-dataset .group-analysis-tab .field-name-field-input .field-items,
.node-dataset .group-analysis-tab .field-name-field-result h2.node-title {
	font-size: 12px;
	font-weight: bold;
}

.node-dataset .group-analysis-tab .field-name-field-result .field-name-field-analysis {
	display: none;
}


.horizontal-tabs ul.horizontal-tabs-list li a:hover {
    background: none;
    outline: medium none;
}


.field-name-field-files img.file-icon {
	padding-right: 0px;
}

.node-type-page .field-name-field-files {
  padding-bottom: 20px;
}

.node-dataset .field-collection-container {
    border-bottom: 2px solid #D3D7D9;
    margin-bottom: 1em;
    margin-left: -5px;
}

.node-dataset .field-name-field-result .field-label {
  padding-left: 5px;
}

.node-dataset .field-collection-view {
    padding: 0;
    margin: 0 1em 0 1em;
   /* border-bottom: 1px dotted #D3D7D9; */
}




/* Datasets Filter better */
.form-checkboxes .bef-checkboxes,
.form-checkboxes .bef-tree,
.bef-select-as-radios .form-radios {
  /*
   * Setting the height and overflow creates a scrollable <div> for the radio/checkbox elements.
   * The border is just for looks -- adjust or remove as needed.
   */
  height: 150px;
  overflow: auto;
  border: 1px solid #999;
}

.not-front #region-sidebar-first ul,
.not-front #region-sidebar-first ul li.leaf {
  list-style: none;
}


/* Gene Expression table view */
.views-exposed-form .form-item label {
    font-weight: normal;
    font-size: 12px;
}

.views-exposed-form label {
  font-weight: bold;
}

.view-evidence .views-exposed-form .views-exposed-widget,
.view-evidence-simple .views-exposed-form .views-exposed-widget,
.view-genetic-association .views-exposed-form .views-exposed-widget,
.view-evidence-mouse .views-exposed-form .views-exposed-widget {
  padding: .5em 1em 0 .6em;
  margin-left: 3px;
}

.views-exposed-form #edit-field-group-tid-wrapper,
.views-exposed-form #edit-term-node-tid-depth-wrapper,
.views-exposed-form #edit-term-node-tid-depth-1-wrapper {
  width: 95%;
}

.view-evidence .views-exposed-form #edit-field-group-tid-wrapper,
.view-evidence .views-exposed-form #edit-term-node-tid-depth-wrapper,
.view-evidence .views-exposed-form #edit-term-node-tid-depth-1-wrapper {
  width: 20%;
}

.view-evidence-simple .views-exposed-form #edit-field-group-tid-wrapper,
.view-evidence-simple .views-exposed-form #edit-term-node-tid-depth-wrapper,
.view-evidence-simple .views-exposed-form #edit-term-node-tid-depth-1-wrapper {
  width: 20%;
}


.view-evidence-mouse .views-exposed-form #edit-term-node-tid-depth-wrapper,
.view-evidence-mouse .views-exposed-form #edit-term-node-tid-depth-1-wrapper,
.view-evidence-mouse .views-exposed-form #edit-term-node-tid-depth-2-wrapper {
  width: 18%;
}

.view-evidence-mouse-mouse .views-exposed-form #edit-field-group-tid-wrapper {
  width: 18%;
}

.view-evidence-mouse .views-widget-filter-field_perturbation_tid .form-type-bef-checkbox {
  padding-left: 5px;
}

.view-evidence-mouse .views-exposed-form .views-exposed-widget {
  float: left;
  padding: .5em 1em 0 .6em;
  /*display: inline-block; */
}

.view-evidence .view-header,
.view-evidence-mouse .view-header {
  font-size: 14px;
}

.view-evidence .view-empty p,
.view-evidence-mouse .view-empty p {
  color: #004466;
  font-weight: bold;
}
.views-exposed-form .views-widget-filter-field_pvalue_value,
.views-exposed-form .views-widget-filter-field_fold_change_value {
  margin-top: 0%;
}

.form-item-field-pvalue-value input {
  width: 85%;
}

.view-evidence-mouse #edit-field-pvalue-value-wrapper {
  width: 12%;
}

.form-item-field-fold-change-value input {
  width: 85%;
}

.view-evidence-mouse #edit-field-fold-change-value-wrapper {
  width: 12%;
}

/*.form-item-field-genes-diff-tid,
#edit-field-fold-change-value-wrapper {
  padding-right: 40px;

}
*/


ul.bef-tree-child.bef-tree-depth-0,
ul.bef-tree-child.bef-tree-depth-1,
ul.bef-tree-child.bef-tree-depth-2 {
	list-style: none;
	padding-top: 0;
	margin-bottom: 0;
}

/*.view-evidence .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.0em;
}
*/

.view .feed-icon {
  padding-bottom: 1%;
}




/* Line up multi-line options nicely */
.form-checkboxes .bef-tree .bef-tree-child,
.bef-select-as-radios .form-radios .form-item {
  text-indent: -20px;
  margin-left: 24px;
}



/* Meetings */
.page-upcoming-meetings .views-field-field-meeting-image {
	float: left;
}

.page-upcoming-meetings .views-row {
	padding: 22px 0;
}

/* Genes Taxonomy Individual Term */
.field-name-field-synonyms .field-items .field-item p {
	margin-bottom: 0;
	display: inline;
}


/* Masquerade Block Theming */
.block-masquerade .description,
.block-masquerade a:link {
   color: #FFFFFF;
   text-decoration: none;
   font-size: 0.95em
}

/* Evidence */

/* Search button etc */

/*
.views-exposed-form .views-exposed-widget.views-submit-button {
  padding-top: 5em;
}
.views-exposed-form .views-exposed-widget.views-reset-button {
  padding-top: 5em;
}
 */

.node-type-evidence .evidence-label {
  color: #004e73;
  font-weight: bold;
  display: inline;
  float: left;
  width: 20%;
}

.node-type-evidence .evidence-value {
  display: inline;
}

.node-type-evidence .field-label {
  color: #004e73;
  width: 20%;
}

.claim-prefix {
  color: black;
}

.group-evidence-tab h2.node-title {
  border: 1px solid lightgray;
  padding: .5em .5em;
  line-height: 1.3em;
}


.group-support {
  padding-left: 1%;
}
.field-name-field-evidence-support {
  padding-left: 1%;
}

.field-name-field-evidence-support .field-name-field-evidence-support {
  padding-left: 2%;
}

.group-support a.fieldset-title,
.field-name-field-evidence-support .field-label {
  color: #006d2c;
  font-weight: bold;
}


.group_challenge a.fieldset-title,
.field_evidence_challenge .field-label {
  color: #bd0026;
  font-weight: bold;
}

.field-name-field-tags .field-items ul {
  padding: 0;
}

.field-name-field-tags .field-items ul li {
    background-color: #e0ebeb;
    padding: .2em .6em .3em;
    font-size: 75%;
    border-radius: 0.5em;
    display: inline;
    margin: 0 .2em;
}

.node-type-targets .field-item.odd .biblio-title {
  padding-top: 6px;
}




.node-type-evidence .field {
  padding-bottom: 2em;
}

.node-type-evidence .field-name-body p{
  margin-bottom: 0;
}

.node-type-evidence .item-list li,
.node-type-evidence .item-list ul {
  margin: 0;
  padding: 0;
}

.node-type-evidence .field-label-inline .field-items {
  float: none;
}


/* Analysis */
.node-type-analysis .field-label {
  color: #004e73;
  padding-bottom: 1em;
}

.node-type-analysis h2 {
  text-decoration: underline;
  margin-bottom: 5px;
}

.node-type-dataset .group-analysis-tab .field-name-body img,
.node-type-analysis .field-name-body img {
  height: 28%;
  width: 28%;
}

.node-type-analysis .field-name-field-result {
  padding-top: 10px;
}

.node-type-analysis .field-collection-view {
  padding: 0;
}




/* D3 CSS */

#elinks {
  float: right;
}

#forest-plot td {
  vertical-align: top;
}

#block-nice-menus-2 .nice-menu-hide-title {
  display: none;
}

.node-type-page #page-title.title {
  display: none;
}

.node-type-page .d3-title {
  text-align: center;
}


.node-type-page .d3-form {
  margin-left: 8%;
}

.node-type-page .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.node-type-page .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.node-type-page .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}

#bubblechart-form,
#scatterplot-form {
  padding-bottom: 25px;
}

/* Contrast "Table" */
.not-front .ctable {
  padding-bottom: 2%;
  padding-left: 1%;
}


.not-front .crow {
  display: block;
  padding-top: 0.5%;
}

.not-front .cterm {
  width: 20%;
  display: inline-block;
  font-weight: bold;
}

.not-front .cdef {
  width: 60%;
  display: inline-block;
}

#block-block-37 {
  width: 78%;
}

.form-item-egene,
.form-item-input-gene,
.form-item-study {
  display: inline-block;
  margin-right: 20px;
}

/* Forest plot and Exploding Boxplot*/
.eplot-inline,
.hplot-inline {
  display: inline-block;
  vertical-align: top;
  padding-top: 33px;
}

#gtitle ,
#htitle {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#gtitle {
  padding-left: 400px;
}
